node_modules/
*.log
.DS_Store
Thumbs.db
tools/_*.json
tools/_*.js
tools/sim_v*.js


# Local deploy key & temporary clone directories
.ssh/
*-push/

# External git metadata directories
*-git/
*-old/

dist/shots/

